<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= meta.name %></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% Object.keys(meta).forEach(key => { %><meta name="<%= key %>" content="<%= meta[key].replace(/"/g, "'") %>">
        <% }); %>
        <!-- JavaScript payload -->
        <% files.js.forEach(({ url, sri }) => {
        const securityBit = sri ? ` integrity="${sri}"` : "";
        const originBit = securityBit && !!url.match(/^https?/) ? ` crossorigin="anonymous"` : "";
        %><script type="application/javascript" src="<%= url %>" defer<%= securityBit %><%= originBit %>></script>
        <% }); %>
    </head>
    <body>
        <div id="app">
            <div id="no-js">In order to use <%= meta.name %>, you need to allow for JavaScript to run.</div>
        </div>
    </body>
</html>
